/*Container*/

#container {
	width: 100%;
	height: auto;
	border-color: green;
}

/*Menu*/
#menu {
	width: 100%;
	height: 12vh;
	background-color: #5B6DF3;
}

#main {
	width: 75%;
	height: 88vh;
	float: left;
	background-image: url(../Pictures/main.jpg);
	background-size: cover;
}

#right-bar {
	width: 25%;
	height: 88vh;
	float: right;
	background-color: #5B6DF3;
}

#footer {
	width: 100%;
	height: 35vh;
	background-color: black;
	clear:both;
}